<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="mobile-web-app-capable" content="yes" />
  <title>{{ title if title else "Blood Pressure and Pulse" }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  
  <!-- Required libs -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
  <!-- Custom charting code -->
  <script src="/static/charting.js"></script>
  
  <link rel="stylesheet" href="/static/style.css?cb={{ cache_bust }}" />
  <!-- HTMX (optional). If the file is present in /static, progressive enhancement will be enabled. -->
  <script defer src="/static/htmx.min.js"></script>
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="manifest" href="/icons/site.webmanifest" />
</head>
<body class="font-sans m-4">
  {% block content %}{% endblock %}
</body>
</html>

